* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* #root {
  
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.home-items {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-container {
  max-width: 1600px;
  margin: 0 auto;
}

.form-control {
  padding: 1.375rem 1.75rem;
  font-size: 1.5rem;
}

.form-select {
  padding: 1.375rem 1.75rem;
  font-size: 1.5rem;
}

.table > tbody {
  vertical-align: baseline;
}

.qty-cell span {
  min-width: 20px;
  text-align: center;
  font-weight: 600;
}

.cart-btn {
  gap: 40px;
  display: flex;
  align-items: center;
}

.table > :not(caption) > * > * {
  border: none;
}

/* Mobile responsive */

@media (max-width: 991px) {
  .add-to-cards {
    width: 90% !important;
  }
}

@media (max-width: 767px) {
  .form-control {
    padding: 15px 20px;
    font-size: 20px;
  }

  .form-select {
    padding: 15px 20px;
    font-size: 20px;
  }
  .carts-message {
    margin-left: 0px !important;
  }
  .add-to-cards {
    width: 100% !important;
  }
  .add-to-cards table thead {
    display: none;
  }

  .add-to-cards table,
  .add-to-cards tbody,
  .add-to-cards tr {
    display: block;
    width: 100%;
  }

  .add-to-cards tr {
    background: #f8d7da;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 10px;
  }

  .add-to-cards td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border: none;
    border-bottom: 1px solid #00000012;
  }

  .add-to-cards td::before {
    content: attr(data-label);
    font-weight: 600;
  }

  .qty-cell {
    gap: 8px;
    flex-wrap: wrap;
  }
  .home-items {
    padding: 0px;
  }
}

@media (max-width: 567px) {
  .add-cards {
    width: 100% !important;
    border-radius: 10px;
  }
  .carts-page {
    padding: 2rem !important;
  }
  tbody tr td {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start !important;
  }
  .add-to-cards td {
    align-items: flex-start !important;
    gap: 20px;
  }
  .add-cards{
    padding: 0.5rem !important;
  }
}

@media (max-width: 400px) {
  .home-items {
    padding: 0 !important;
  }
  .carts-page {
    padding: 1rem !important;
  }
  .login-page{
    width: 300px !important;
    padding: 0.5rem !important;
  }
}
